name: Build and Push Docker Images

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    
    - name: Login to DockerHub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    
    - name: Build and push ingestion service
      uses: docker/build-push-action@v4
      with:
        context: ./ingestion
        push: true
        tags: ${{ secrets.DOCKER_USERNAME }}/iot-ingestion:latest
    
    - name: Build and push publisher
      uses: docker/build-push-action@v4
      with:
        context: ./publisher
        push: true
        tags: ${{ secrets.DOCKER_USERNAME }}/iot-publisher:latest
    
    - name: Build and push streamlit app
      uses: docker/build-push-action@v4
      with:
        context: ./streamlit_app
        push: true
        tags: ${{ secrets.DOCKER_USERNAME }}/iot-dashboard:latest
    
    - name: Build and push FL server
      uses: docker/build-push-action@v4
      with:
        context: ./federated_learning
        push: true
        tags: ${{ secrets.DOCKER_USERNAME }}/iot-fl-server:latest